<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PDFLibrary.Properties.Settings>
            <setting name="TemporaryOutputPdfPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="WkhtmltopdfExePath" serializeAs="String">
                <value>C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>http://172.31.34.131/KinmuSystem/</value>
            </setting>
            <setting name="JissekiPath" serializeAs="String">
                <value>WorkResults.aspx</value>
            </setting>
            <setting name="YoteiPath" serializeAs="String">
                <value>WorkPlans.aspx</value>
            </setting>
            <setting name="SagyoPath" serializeAs="String">
                <value>WorkDiary.aspx</value>
            </setting>
            <setting name="PdfCovertTimeOutValue" serializeAs="String">
                <value>10000</value>
            </setting>
        </PDFLibrary.Properties.Settings>
    </applicationSettings>
</configuration>